#root {
  height: 100vh;
  width: 100vw;
  background-color: rgb(34, 31, 31);
  font-family: "Lexend Exa", sans-serif;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
